@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:inherit;
}
input{
	outline: none;
	padding:5px 10px;
}

#wrap{
	width:1000px;
	margin:0 auto;
}

#header{
	width:100%;
	position:sticky;
	padding:15px 0;
	top:0;
	background:#fff;
}

#menuList{
	width:100%;
	display:flex;
	align-items:center;
}
#menuList .menu{
	width:20%;
	text-align:center;
}
#menuList .menu a{
	display:block;
	width:80%;  padding:10px 0;
	margin:0 10%;
}
#menuList .menu a:hover{
	background:#3cb371;
	color:#eee;
}

/* 로그인성공시 보여지는 유저 메뉴 영역 */
#userBox{
	position:fixed;
	bottom:0;
	left:-125px;
	display:flex;
	transition:left 1s ease-in-out;
}
#userMenu{
	display:flex;
	flex-direction: column;
	text-align:center;
	position:relative;
	background:#1e1e1e;
	width:125px;
	color:#eee;
}
#userMenu a{
	display:block;
	width:100%;
	padding:5px 10px;
}
#userMenu a:hover{
	background:#eee;
	color:#1e1e1e;
}

#userMenu .user-email{  word-break:break-all;}

#menuToggle{
	align-self:end;
	color:#1e1e1e;
	font-size:30px;
	border-left:1px solid #fff;
}
#menuToggle .menuHide{
	display:none;
}







