<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		window.onload=function(){
			const input = document.getElementById("keyword");
			input.addEventListener('keydown', function(event){
				if( event.key==='Enter'){
					alert("엔터키");
				}
			});
		}
	</script>
</th:block>

</head>

	<div layout:fragment="main"  id="main">
		
		<h1> 도서 검색 </h1>
		<b th:if="${fail}" > 대여중인 도서입니다.</b>
		<div id="searchWrap">
			<form id="searchFm" th:object="${bookSearchDto}" method="get" action="/bookSearch/result">
				<div id="searchBox">
					<label th:for="keyword">검색</label>
					<input type="text" th:field="*{keyword}">
					<!-- 부트스크랩에서 돋보기모양 아이콘 찾아서 여기 에 넣어 줘요! 나우! 빨리! 지금! -->
					<i class="bi bi-search-heart"></i>
				</div>
				제목만 검색<input type="checkbox" id="option" value="title" >
				<input type="hidden" th:field="*{option}">
			</form>
		</div>
		
		<br><br><hr><br><br>
		<table>
			<thead>
				<tr>
					<th>번호</th><th>제목</th><th>저자</th><th>출판사</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="row , stat : ${bookListDtos}">
					<td th:text="${stat.count}"></td>
					
					<td >
						<a th:href="${ session.user==null ? '' : '/basket?bookId='+ row.bookId  }"  
						th:text="${row.bookTitle}"></a>
					</td>
					
					<td th:text="${row.bookAuthor}"></td>
					<td th:text="${row.bookPublishing}"></td>
				</tr>				
				
			</tbody>
			
		</table>
		
	</div>
</html>







